<div>

    <canvas id="canv">Your browser is not supported. </canvas>
    <script>
        var
            canv = document.getElementById('canv'),
            ctx = canv.getContext('2d');
    </script>
</div>
