body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Footer*/
.start_bar {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
    background: #bfbfbf;
}
#start_button {
    margin: 2px;
    float: left;
}
.startMenuLogo {
    position: absolute;
    bottom: 0;
}
.startMenu-content input {
    display: block;
    text-decoration: none;
    float: right;
}
input[type="image" i] {
    cursor: pointer;
}
.startMenu-content {
    display: none;
    position: absolute;
    background-color: #bfbfbf;
    width: 225px;
    bottom: 42px;
    border: 1px outset #000;
    z-index: 10000;
}

